@import "tailwindcss";

@theme {
  --color-irms-blue: #003366;
  --color-irms-red: #D32F2F;
  --color-irms-light: #F8FAFC;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FAF9F6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6A96B7;
  border-radius: 0px;
  border: 1px solid #FAF9F6;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #04233A;
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}